@tailwind base;
@tailwind components;
@tailwind utilities;

/* Portfolio items */

.grid-container {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(19, 1fr);
}

.item-top-left {
  grid-area: 1 / 1 / 8 / 11;
}

.item-bottom-right {
  grid-area: 2 / 10 / -1 / -1;
  z-index: 1;
}

.item-bottom-left {
  grid-area: 2 / 1 / -1 / 11;
  z-index: 1;
}

.item-top-right {
  grid-area: 1 / 10 / -2 / -1;
}

/* How it works steps */
/* Step 1 */
.step-image-1 {
  grid-area: 1 / 1 / 5 / 8;
}

.step-text-1 {
  grid-area: 1 / 11 / 5 / -1;
}

.step-circle-1 {
  grid-area: 2 / 8 / 4 / 10;
}

.step-svg-1 {
  grid-column-start: 9;
  grid-row-start: 3;
}

/* Step 2 */
.step-image-2 {
  grid-area: 6 / 20 / 10 / -1;
}

.step-text-2 {
  grid-area: 6 / 1 / 10 / 16;
}

.step-circle-2 {
  grid-area: 7 / 17 / 9 / 19;
}

.step-svg-2 {
  grid-column-start: 10;
  grid-row-start: 8;
}

/* Step 3 */
.step-image-3 {
  grid-area: 11 / 1 / 15 / 8;
}

.step-text-3 {
  grid-area: 11 / 11 / 15 / -1;
}

.step-circle-3 {
  grid-area: 12 / 9 / 13 / 10;
}

.step-svg-3 {
  grid-column-start: 9;
  grid-row-start: 14;
}

/* Step 4 */
.step-image-4 {
  grid-area: 17 / 20 / 21 / -1;
}

.step-text-4 {
  grid-area: 16 / 1 / 21 / 16;
}

.step-circle-4 {
  grid-area: 18 / 17 / 19 / 19;
}

.step-svg-4 {
  grid-column-start: 10;
  grid-row-start: 19;
}

/* Step 5 */
.step-image-5 {
  grid-area: 22 / 1 / -1 / 8;
}

.step-text-5 {
  grid-area: 22 / 11 / -1 / -1;
}

.step-circle-5 {
  grid-area: 23 / 8 / 25 / 10;
}

@layer utilities {
  .rectangle {
    aspect-ratio: 2.34 / 1;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@layer components {
  .image-1 {
    @apply left-[8%] top-[5%] lg:left-[14%] lg:top-[7%] xl:left-[5%] xl:top-[5%];
  }
  .image-2 {
    @apply right-[7%] top-[24%] lg:right-[16%] lg:top-[12%] xl:right-[6%] xl:top-[8%];
  }
  .image-3 {
    @apply bottom-[27%] left-[5%] lg:bottom-[12%] lg:left-[12%] xl:bottom-[8%] xl:left-[7%];
  }
  .image-4 {
    @apply bottom-[8%] right-[10%] lg:bottom-[12%] lg:right-[10%] xl:bottom-[4%] xl:right-[10%];
  }
}
